extends base.pug
block scripts
     script(src='/static/index.js')
block style
     style
         include ../static/style.css
         include ../static/styleAbout.css
block content
    div.about
        h1 About-us
        p Dance Works Academy is a dance community that provides a wholesome dance education to allow students of all ages to explore movement in a creative and nurturing learning environment.  Qualified dance instruction will be taught through discipline, acceptance and positive motivation which will allow the student to create a positive self-image. It is our belief that every child can grow and gain the skills as a dancer through self respect.
        h1 Owner 
        div.content    
            img(src="/static/img/about.jpg", alt="", srcset="")
            p.owner  Aryan Gupta, Owner and Director of  Aryan Dance Academy, is a Performer, Educator and Choreographer of Dance and Gymnastics.he is trained in various forms of dance and has shared his talents in the states of Massachusetts, Ohio and Vermont.he has studied with Maurice Hines, Gregory Russell, Jay Jenkins, Derek K Grant among others, and has toured extensively as a performer and Master Teacher.  His training was received at the University of Massachusetts  in Amherst as well as Dean College, where he holds a Bachelors Degree in Dance.  he is also an I.D.E.A. Member promoting all that is good in dance education.  This includes, age appropriate costumes, movements and music selections.  he is also a professional for Dancing with the Star Burlington and has graced the Flynn stage with his performance in 2019.
           

