html
  head
    title Aryan Dance Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="static/img/logo.png")
                |ADA
            li #[a(href='/') Home]
            li #[a(href='/about') About]
            li #[a(href='/') Services]
            li #[a(href='/') Class-info]
            li #[a(href='/contact') Contact-us]
    block content
    block foot
         footer.footer
            |CopyRight 2020 AryanDanceAcademy
