doctype html
html
  head
    title Aryan Dance Academy
    style
      include ../static/style.css
  body
    nav#navbar
        ul
            div#logo
                img(src="static/img/logo.png")
                |ADA
            li #[a(href='/') Home]
            li #[a(href='/') About]
            li #[a(href='/') Services]
            li #[a(href='/') Class-info]
            li #[a(href='/') Contact-us]

    section.intro
        div Welcome to Aryan Dance Academy
        div.small Eat Dance Sleep Repeat
    section.mission
        h2 mission
        div.card
          h3 Dance form
          div.card-box
             div.card-img
               img(src="static/img/1.png", alt="")
             div.content
               p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt rem corporis minima!
        div.card
          h3 Dance the way you like
          div.card-box
             div.card-img
                img(src="static/img/2.png", alt="")
             div.content
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt rem corporis minima!
        div.card
          h3 Expert Teaching    
          div.card-box
             div.card-img
                img(src="static/img/3.png", alt="")
             div.content
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt rem corporis minima!  
    section.sponser
        h2 Our Sponsor
           div#sponsers
              img(src="static/img/logo1.png", alt="sponser-image", class="sp")
              img(src="static/img/logo2.png", alt="sponser-image", class="sp")
              img(src="static/img/logo3.png", alt="sponser-image", class="sp")
              img(src="static/img/logo4.png", alt="sponser-image", class="sp")
    footer.footer
        |CopyRight 2020 AryanDanceAcademy

    script
      include ../static/index.js